.chat-main
  .chat-main__header
    %ul.chat-main__header__left-box
      %li.chat-main__header__left-box__current-group
        test
      %li.chat-main__header__left-box__current-member
        member:name
    .chat-main__header__right-box
      = link_to "#", class: "btn" do
        Edit

  .chat-main__messages
    .chat-main__messages__message
      .chat-main__messages__message__upper-box
        .chat-main__messages__message__upper-box__name
          名前
        .chat-main__messages__message__upper-box__date
          日付
      .chat-main__messages__message__under-box
        こめんと
  .chat-main__form
    .chat-main__form__input-box
      .chat-main__form__input-box__text
        type a message
      .chat-main__form__input-box__image
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file"}
    .chat-main__form__submit-btn
      Send
