.side-bar
  .side-bar__side-header
    .side-bar__side-header__box
      .side-bar__side-header__box__bag yoshida
      .side-bar__side-header__box__menu
        = link_to "#", class: "btn" do
          = icon('far', 'edit')
          %span<>
        = link_to "#", class: "btn" do
          = icon('fas', 'cog')
          %span<>
  .side-bar__groups
    .side-bar__groups__group
      .side-bar__groups__group__group-name
        techcamp
      .side-bar__groups__group__message
        まだメッセージはありません
    .side-bar__groups__group
      .side-bar__groups__group__group-name
        techcamp
      .side-bar__groups__group__message
        まだメッセージはありません
    .side-bar__groups__group
      .side-bar__groups__group__group-name
        techcamp
      .side-bar__groups__group__message
        まだメッセージはありません