* {
  box-sizing: border-box;
}

@mixin circle (){
  display: flex;
  align-items: center;
}

@mixin size ($height, $width){
  height: $height;
  width: $width;
}

@mixin color ($color: initial, $background-color: transparent){
  color: $color;
  background-color: $background-color;
}

.side-bar {
  @include size(100vh, 300px);
  @include color (initial,#253141);
  display: inline-block;
  &__side-header{
    @include circle();
    @include size(100px, initial);
    justify-content: center;
    &__box{
      @include size(20px, calc(100vw - 20px - 20px));
      display: flex;
      justify-content: space-between;
      line-height: 20px;
      margin: auto 20px;
      &__bag{
        @include color (#ffffff,transparent);
        font-size: 16px;
        font-weight: bold;
      }
      &__menu{
        @include size(initial, 60px);
        text-align: right;
        text-decoration: none;
        a{
          @include color (#ffffff,transparent);
          margin-left: 5px;
        }
      }
    }
  }
  &__groups{
    @include size(calc(100vh - 100px), initial);
    @include color (initial,#2f3e51);
    &__group{
      @include color (#ffffff,transparent);
      padding: 20px 20px 40px 20px;
      &__group-name{
        text-decoration: none;
        color: #ffffff;
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__message{
        font-size: 11px;
      }
    }
  }
  a{
    text-decoration: none;
    color: #ffffff;
  }
}

.wrapper{
  display: flex;
  .chat-main {
    @include size(100vh, calc(100vw - 300px));
    @include color (initial ,#ffffff);
    &__header{
      @include size(100px, initial);
      display: flex;
      justify-content: space-between;
      padding: 0 40px;
      &__left-box{
        ul{
          display: flex;
          li{
            margin-left: 0.3rem;
          }
        }
        &__current-group{
          @include color (#333333 ,transparent);
          font-size: 20px;
          margin: 35px 0 15px 0;
        }
        &__current-member{
          @include color (#999999 ,transparent);
          font-size: 12px;
        }
      }
      a{
        @include circle();
        @include size(40px, 72px);
        @include color (#38aef0 ,transparent);
        font-size: 16px;
        justify-content: center;
        text-decoration: none;
        border: solid 1px #38aef0;
        margin: 28px auto;
        padding: 0 20px;
      }
    }
    &__messages{
      @include size(calc(100vh - 100px - 90px), initial);
      @include color (initial ,#fafafa);
      padding-left: 40px;
      overflow: scroll;
      &__message{
        padding: 35px 0 46px 0;
        &__upper-box{
          display: flex;
          margin-bottom: 12px;
          &__name{
            @include color (#333333 ,transparent);
            font-size: 16px;
            font-weight: bolder;
          }
          &__date{
            @include color (#999999 ,transparent);
            font-size: 12px;margin-left: 10px;
            
          }
        }
        &__under-box{
          @include color (#434a54 ,transparent);
          font-size: 14px;
        }
      }
    }
    &__form{
      @include size(90px, initial);
      @include color (initial ,#d2d2d2);
      padding: 20px 40px;
            .new_message{
              display: flex;
              justify-content: space-between;
            }
      &__input-box{
        .form__message{
          height: 100%;
          width: 100%;
        }
        .form__mask__image{
          position: absolute;
          right: 10px;
          top: 10px;
        }
        position: relative;
        width: 100%;
        @include color (initial ,#ffffff);
          .hidden{
            display: none;
          }
      }
      .form__submit{
        @include size(50px, initial);
        @include color (#ffffff ,#38aef0);
        margin-left: 15px;
        padding: 0 30px;
      }
    }
  }
}